.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.body {
  flex: 1;
  display: flex;
  background-color: #f8f9fc;
}

.content {
  flex: 1;
  padding: 24px;
  overflow-y: auto;
}
